<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.wccs.epoxy_resin_learning">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".about_us"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".main_program"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".s5n1p1_12"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s5n1p1_11"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s5n1p1_10"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s5n1p1_9"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s5n1p1_8"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s5n1p1_7"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s5n1p1_6"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_33"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_32"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_31"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_30"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_29"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_28"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_27"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_26"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_25"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_24"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_23"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_22"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_21"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_20"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_19"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_18"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_17"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_16"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_15"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_14"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_13"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_12"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_11"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_10"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_9"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_8"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_7"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_6"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_5"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_4"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_3"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_2"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s4n1p1_1"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s3n1p1_8"
         android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s3n1p1_7"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s3n1p1_6"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s3n1p1_5"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s3n1p1_4"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s3n1p1_3"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s3n1p1_2"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s3n1p1_1"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s5n1p1_5"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s5n1p1_4"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s5n1p1_3"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s5n1p1_2"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s5n1p1_1"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s2n1p1_13"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s2n1p1_12"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s2n1p1_11"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s2n1p1_10"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s2n1p1_9"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s2n1p1_8"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s2n1p1_7"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s2n1p1_6"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s2n1p1_5"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s2n1p1_4"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s2n1p1_3"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s2n1p1_2"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s2n1p1_1"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s1n1p1_11"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s1n1p1_10"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s1n1p1_9"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s1n1p1_8"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s1n1p1_7"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s1n1p1_6"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s1n1p1_5"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s1n1p1_4"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s1n1p1_3"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s1n1p1_2"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".s1n1p1_1"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".season6"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".season5"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".season4"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".season3"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".season2"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".season1"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />


        <activity android:name=".sample_pdf_view" />
        <activity android:name=".sample_video_view" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>